<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:util="http://www.springframework.org/schema/util" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd    
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">
    
	
	<mvc:annotation-driven conversion-service="conversionService"/>  <!-- 支持spring3.0新的mvc注解 -->
	
	<!-- 访问静态资源 -->
	<mvc:resources mapping="/skins/css/**" location="/skins/css/" />
    <mvc:resources mapping="/skins/js/**" location="/skins/js/" />
    <mvc:resources mapping="/skins/img/**" location="/skins/img/" />
	
	<!-- 对web包中的所有类进行扫描，以完成Bean创建和自动依赖注入的功能 -->
	<context:component-scan base-package="com.inspur.gcloud" />

	<!-- 启动Spring MVC的注解功能，完成请求和注解POJO的映射 -->
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />

	<!--对模型视图名称的解析，即在模型视图名称添加前后缀 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"
	p:prefix="/jsp/"
	p:suffix=".jsp" />
		
	<!-- 处理文件上传 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver" >  
	    <property name="defaultEncoding" value="utf-8"/> <!-- 默认编码 (ISO-8859-1) -->  
	    <property name="maxInMemorySize" value="10240"/> <!-- 最大内存大小 (10240)-->  
	    <property name="uploadTempDir" value="/upload/"/> <!-- 上传后的目录名 (WebUtils#TEMP_DIR_CONTEXT_ATTRIBUTE) -->  
	    <property name="maxUploadSize" value="-1"/> <!-- 最大文件大小，-1为无限止(-1) -->  
	</bean>
	
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">  
        <property name="cacheSeconds" value="0" />  
        <property name="messageConverters">  
            <list>  
                <bean class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
                	<property name="supportedMediaTypes">
      					<list>
        					<value>text/html;charset=UTF-8</value>
      					</list>
    				</property>
                </bean>  
            </list>  
        </property>
    </bean>  
	
	<!--数据格式转化-->
	<bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<property name="formatterRegistrars">
			<list>
			<!-- 日期转化 :StringToDate -->
				<bean class="com.inspur.gcloud.converter.MyFormatterRegistrar">
					<constructor-arg name="datePattern" value="MM-dd-yyyy"></constructor-arg>
				</bean>
			</list>
		</property>
	</bean>
	
	
	<bean id=" messageSource"  class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basenames">
           <list>
             <value>/WEB-INF/resource/labels</value>
           </list>
        </property>
  </bean>
  
  <!-- 获取本地 -->  
   <bean id="localeResolver" class="org.springframework.web.servlet.i18n.AcceptHeaderLocaleResolver"/> 
   
</beans>

